---
- name: Copy configuration files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '0644'
  loop: "{{ files }}"
  notify:
    - Restart unbound
    - Restart dnssec-triggerd
