{{ ansible_managed | comment }}
[Unit]
Description=restic backup

[Service]
Type=oneshot
EnvironmentFile=%h/.restic.env
WorkingDirectory=%h
IOSchedulingClass=idle
ExecStart=/usr/bin/restic backup --files-from %h/restic-backup.list
KillMode=process
